.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  button {
    padding: 15px 30px;
    background: white;
    font-size: larger;
    font-weight: 600;
  }
  button:hover {
    background: #000;
    color: white;
    transition: all 0.3s ease;
  }
}
.cart-wrap {
  display: flex;
  justify-content: space-between;
}
.cart-item-wrap {
  width: 50%;

  .cart-item {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
    .cart-item-img {
      width: 100px;
      height: 100px;
      margin-right: 30px;
    }
    .cart-item-name {
      flex: 1;
    }
    .cart-item-price {
      width: 100px;
    }
  }
  .cart-item:last-child {
    border: none;
  }
}
.total {
  width: 40%;
  height: fit-content;

  padding: 30px;
  background-color: whitesmoke;
  .total-amount,
  .total-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .total-amount {
    border-bottom: 1px solid #ccc;
  }
  .check-out-btn {
    width: 100%;
    margin-top: 20px;
    background-color: orange;

    border: none;
  }
  .check-out-btn:hover {
    opacity: 0.8;
  }
}
