.shop-header {
  background: #e9e8e8;
  padding: 20px 10px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 5rem;
}
.product-item {
  margin: 10px 30px;
  padding: 10px 0;
}
.product-img {
  width: 150px;
  height: 150px;
}
.product-text {
  //   background: #e9e8e8;
  text-align: center;
  margin-top: 40px;
}
.star {
  fill: #eabb2a;
}
