.footer-items {
  height: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #e9e8e8;
}
.footer-copyright {
  border-top: 1px solid #e9e8e8;
}
@media (max-width: 680px) {
  .footer-items {
    height: max-content;
    flex-direction: column;
  }
}
